

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: MediumVioletRed;
    margin: 0;
}

.container {
    width: 90vw;
    display: flex;
}