head {
    z-index: 2;
    font-size: 60px;
    
}


body {
    height: 100vh;
    display: flex;
    align-items: top;
    justify-content: center space-between;
    margin: 0;
    background-color: lightblue;
    overflow: hidden;
}

.bg {
    height: 100vh;
    width: 50vw;
    background-color: White;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    align-items: center;
    justify-content: center;
}

.header {
    translate: 27rem -60px;
    font-size: 80px;
    position: absolute;
}


.list {
    height: 390px;
    width: 35rem;
    font-size: 25px;
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: center;
    z-index: 1;
    translate: 200px 182px;
    background-color: lightblue;
    padding: 0;
    margin: 0;
    border-radius: 10px;
}

.list a {
    color: darkblue;
}

.kibby {
    height: 30vh;
    width: 101vw;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    display: absolute;
    transform: translateX(-11%);
    z-index: 1;
    }