head {
    display: flex;
    align-items: top;
    justify-content: center;
    z-index: 1;
    font-size: 60px;
}


body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.bg {
    height: 100vh;
    width: 100vw;
    background-color: DeepPink;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
}

.list {
    font-size: 25px;
    display: absolute;
    align-items: center;
    justify-content: right;
}